[Unit]
Description="AEM Author"

[Service]
Environment="CQ_JVM_OPTS=-server -Xmx2560m -Djava.awt.headless=true" "CQ_PORT={{aem_author_port}}" "CQ_RUNMODE={{aem_author_runmodes}}"
ExecStart=/bin/bash {{author_folder}}/crx-quickstart/bin/start
ExecStop=/bin/bash {{author_folder}}/crx-quickstart/bin/stop
Type=simple
PIDFile={{author_folder}}/crx-quickstart/conf/cq.pid
RemainAfterExit=yes